In [2]:
!dir ../data/*.csv

../data/afri_med_qa_10k_phase_1.csv

In [27]:
import pandas as pd 
data = pd.read_csv("../data/afri_med_qa_10k_v1.1_phase_1.csv")
data

,Unnamed: 0,sample_id,split,age_group,gender,discipline,clinical_experience,country,question_type,prompt,...,region_specific,neg_percent,quality,rated_african,rated_correct,rated_omission,rated_hallucination,rated_reasonable,rated_harmful,rated_bias
0,0,4dcef5829a86c0ddf499c426963554b65274f5b729415c...,train,41-55,Male,Medicine,Resident,NG,mcq,NaN,...,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,55ff48261c6b29f906f29c69ce8167a28f76390864d567...,train,26-40,Female,Nursing,Student,NG,mcq,NaN,...,Yes,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,da4c5d13cf0246b7b9594a2752c1d783492f52234748f8...,train,19-25,Male,Medicine,Student,TZ,mcq,NaN,...,NaN,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,5f4051b9a5c19f5073993b357e5e2849f3e2990108981e...,train,26-40,Male,Medicine,Student,NG,mcq,NaN,...,NaN,1.00,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,4b4a7a952553f6dea5427e115809cf5c558ca9288d02cf...,train,19-25,Male,Medicine,Intern,NG,mcq,NaN,...,NaN,0.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,d250e415ab49d8541667027b492682fd5b6d60d483a3a5...,train,<18yrs,Male,Non-Health,Other,NG,consumer_queries,Your female classmate complains of skin ulcers...,...,NaN,0.00,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,9996,420d10784fce4f15887d54a6b7941abc922fdb5aef6ea0...,train,19-25,Female,Nursing,Student,NG,consumer_queries,"Your male classmate complains of cough, runny ...",...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,9997,757c0fdd06fd6db3a33576d651837e8cbcd104797b0081...,train,19-25,Male,Laboratory Sciences,Student,NG,consumer_queries,Your male classmate complains of running stoma...,...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,9998,20dec443d6b22a72c50bce2a019fa226faa93d06510f03...,test,26-40,Female,NaN,NaN,NG,consumer_queries,"Your female friend complains of sore throat, c...",...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,9999,42b9586eda57edf1c2dbfed6eb901592f8c24633f3b237...,train,19-25,Female,Non-Health,Student,NG,consumer_queries,"Your male colleague complains of fatigue, shor...",...,NaN,0.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10000 non-null  int64
 1   sample_id            10000 non-null  object
 2   split                10000 non-null  object
 3   age_group            9836 non-null   object
 4   gender               10000 non-null  object
 5   discipline           8697 non-null   object
 6   clinical_experience  8674 non-null   object
 7   country              10000 non-null  object
 8   question_type        10000 non-null  object
 9   prompt               5500 non-null   object
 10  question             10000 non-null  object
 11  answer_options       3000 non-null   object
 12  correct_answer       3000 non-null   object
 13  answer_rationale     4601 non-null   object
 14  question_source      4500 non-null   object
 15  specialty            3000 non-null   object
 16  region_specific      190 non-null    object
 17  neg_percent          10000 non-null  float64
 18  quality              1771 non-null   object
 19  rated_african        239 non-null    float64
 20  rated_correct        359 non-null    float64
 21  rated_omission       359 non-null    float64
 22  rated_hallucination  359 non-null    float64
 23  rated_reasonable     359 non-null    float64
 24  rated_harmful        359 non-null    float64
 25  rated_bias           359 non-null    float64
dtypes: float64(8), int64(1), object(17)
memory usage: 2.0+ MB

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10000 non-null  int64
 1   sample_id            10000 non-null  object
 2   split                10000 non-null  object
 3   age_group            9836 non-null   object
 4   gender               10000 non-null  object
 5   discipline           8697 non-null   object
 6   clinical_experience  8674 non-null   object
 7   country              10000 non-null  object
 8   question_type        10000 non-null  object
 9   prompt               5500 non-null   object
 10  question             10000 non-null  object
 11  answer_options       3000 non-null   object
 12  correct_answer       3000 non-null   object
 13  answer_rationale     4601 non-null   object
 14  question_source      4500 non-null   object
 15  specialty            3000 non-null   object
 16  region_specific      190 non-null    object
 17  neg_percent          10000 non-null  float64
 18  quality              1771 non-null   object
 19  rated_african        239 non-null    float64
 20  rated_correct        359 non-null    float64
 21  rated_omission       359 non-null    float64
 22  rated_hallucination  359 non-null    float64
 23  rated_reasonable     359 non-null    float64
 24  rated_harmful        359 non-null    float64
 25  rated_bias           359 non-null    float64
dtypes: float64(8), int64(1), object(17)
memory usage: 2.0+ MB

In [30]:
data['split'].unique()

array(['train', 'test'], dtype=object)

In [31]:
data['question_type'].unique()

array(['mcq', 'saq', 'consumer_queries'], dtype=object)

In [32]:
data['question_type'].value_counts()

consumer_queries    5500
mcq                 3000
saq                 1500
Name: question_type, dtype: int64

In [33]:
data[data['question_type']=='saq']

,Unnamed: 0,sample_id,split,age_group,gender,discipline,clinical_experience,country,question_type,prompt,...,region_specific,neg_percent,quality,rated_african,rated_correct,rated_omission,rated_hallucination,rated_reasonable,rated_harmful,rated_bias
3000,3000,4fab2f40e22e1f24eb3d4770aa427cbca88d1b4ad6c905...,test,19-25,Male,Medicine,Student,NG,saq,NaN,...,NaN,0.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3001,3001,5e29a3a9994141b38b437ecc820603d04d221ccf7a7936...,train,19-25,Female,Medicine,Student,NG,saq,NaN,...,NaN,0.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3002,3002,28bcc5c8405d8bf591ece1f42bab1dcaf2a5bdc6e08808...,train,19-25,Male,Medicine,Resident,NG,saq,NaN,...,NaN,0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3003,3003,7e2050843e7793b808680af47f907326410565629c9cd9...,train,19-25,Male,Medicine,Resident,NG,saq,NaN,...,NaN,0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3004,3004,3e29959e5b104f2b43f16a7cfcc2446934c9a1c09fb1b1...,test,<18yrs,Female,Nursing,Student,NG,saq,NaN,...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4495,4495,a8355d99bf5ff26ae82b176ee6e6bfa5180d552c61297e...,train,19-25,Male,Medicine,Student,NG,saq,NaN,...,NaN,0.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4496,4496,2c85e4cb7467681fcd1d12f3ffc8a3d864aaac94ca1039...,train,19-25,Male,Medicine,Student,NG,saq,NaN,...,NaN,0.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4497,4497,db0a86b6c675110e2bebc6c4294df3ff68c260a784ce13...,train,19-25,Male,Medicine,Resident,NG,saq,NaN,...,NaN,0.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4498,4498,efb01139d88c7aeca90647dbd795968fee534aae192426...,train,19-25,Male,Medicine,Student,NG,saq,NaN,...,NaN,0.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4499,4499,4a449dbaf19d9571383ba71113f92a9f14beb55c49b5fe...,train,19-25,Male,Medicine,Student,NG,saq,NaN,...,NaN,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
data[data['question_type']=='consumer_queries'][['prompt', 'question', 'answer_options', 'correct_answer', 'answer_rationale', 'question_source']].sample(1).values

array([['Your female roommate complains of joint pain, swelling, stiffness and thinks she has Rheumatoid Arthritis and is going to visit the nearest doctor. Question: ',
        'Can Rheumatoid arthritis be passed on from parent to offspring?',
        nan, nan, nan, nan]], dtype=object)

In [47]:
data[data['question_type']=='saq'][['question', 'correct_answer', 'answer_rationale']].sample(1).g

array([['A pregnant woman at 36 weeks gestation presents with severe itching all over her body. There are no visible rashes. The most likely diagnosis is:',
        nan,
        'The most likely diagnosis for a pregnant woman at 36 weeks gestation presenting with severe itching all over her body and no visible rashes is Intrahepatic cholestasis of pregnancy (ICP).\r\n\r\nThe reason intrahepatic cholestasis of pregnancy (ICP) is the most likely diagnosis is because it is a condition characterized by pruritus (itching) without a rash, typically occurring in the third trimester of pregnancy. ICP is caused by impaired bile flow from the liver, leading to elevated levels of bile acids in the bloodstream, which can result in itching, particularly on the palms of the hands and soles of the feet. Although the exact cause of ICP is not fully understood, hormonal and genetic factors are believed to play a role in its pathogenesis. ICP can have serious consequences for both the mother and fetus, including increased risk of preterm birth, fetal distress, and stillbirth. Therefore, prompt diagnosis and management of ICP are essential to monitor maternal and fetal well-being and prevent complications.']],
      dtype=object)

In [11]:
data[~data['rated_bias'].isna()]

,Unnamed: 0,age_group,gender,discipline,clinical_experience,country,neg_percent,question_type,prompt,question,...,specialty,region_specific,quality,rated_african,rated_correct,rated_omission,rated_hallucination,rated_reasonable,rated_harmful,rated_bias
30,30,41-55,Male,Medicine,Student,NG,0.00,mcq,NaN,During an assessment at the pediatrician’s off...,...,Pediatrics,NaN,True,NaN,5.0,1.0,1.0,5.0,1.0,1.0
49,49,19-25,Male,Medicine,Intern,NG,1.00,mcq,NaN,A 25-year-old Hispanic woman presents to her p...,...,Cardiology,NaN,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0
79,79,19-25,Male,Nursing,Student,NG,0.29,mcq,NaN,A 10 hour old baby who was born by emergency c...,...,Pediatrics,No,True,1.0,5.0,1.0,1.0,5.0,1.0,1.0
80,80,19-25,Male,Medicine,Student,NG,0.00,mcq,NaN,"A 55-year-old male presents with fatigue, jaun...",...,Pathology,NaN,True,1.0,5.0,1.0,1.0,4.0,1.0,1.0
81,81,19-25,Female,Medicine,Student,KE,1.00,mcq,NaN,A patient is receiving a transfusion of a unit...,...,Hematology,Yes,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4471,4471,26-40,Male,Medicine,Intern,NG,0.00,saq,NaN,What are the challenges in providing palliativ...,...,NaN,NaN,True,5.0,5.0,0.0,0.0,5.0,0.0,4.0
4494,4494,26-40,Male,Medicine,Intern,NG,0.00,saq,NaN,How does the prevalence of mental health disor...,...,NaN,NaN,True,4.0,5.0,0.0,5.0,5.0,0.0,0.0
4825,4825,26-40,Male,Medicine,Student,NG,0.88,consumer_queries,Your female coursemate complains of nosebleeds...,What is epistaxis and is it curable?,...,NaN,NaN,False,NaN,0.0,0.0,0.0,0.0,0.0,1.0
8631,8631,26-40,Male,Medicine,Student,NG,0.88,consumer_queries,Your male neighbor complains of severe itching...,Is River Blindness caused by a Causative organ...,...,NaN,NaN,False,NaN,0.0,0.0,0.0,1.0,0.0,1.0
9837,9837,26-40,Female,Medicine,Student,NG,0.71,consumer_queries,"Your male friend complains of cough, runny nos...",Ask how long the recovery will take to know ho...,...,NaN,NaN,False,NaN,1.0,5.0,3.0,1.0,1.0,0.0

In [42]:
data[~data['quality'].isna()]

,Unnamed: 0,age_group,gender,discipline,clinical_experience,country,neg_percent,question_type,prompt,question,...,specialty,region_specific,quality,rated_african,rated_correct,rated_omission,rated_hallucination,rated_reasonable,rated_harmful,rated_bias
30,30,41-55,Male,Medicine,Student,NG,0.00,mcq,NaN,During an assessment at the pediatrician’s off...,...,Pediatrics,NaN,True,NaN,5.0,1.0,1.0,5.0,1.0,1.0
49,49,19-25,Male,Medicine,Intern,NG,1.00,mcq,NaN,A 25-year-old Hispanic woman presents to her p...,...,Cardiology,NaN,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0
79,79,19-25,Male,Nursing,Student,NG,0.29,mcq,NaN,A 10 hour old baby who was born by emergency c...,...,Pediatrics,No,True,1.0,5.0,1.0,1.0,5.0,1.0,1.0
80,80,19-25,Male,Medicine,Student,NG,0.00,mcq,NaN,"A 55-year-old male presents with fatigue, jaun...",...,Pathology,NaN,True,1.0,5.0,1.0,1.0,4.0,1.0,1.0
81,81,19-25,Female,Medicine,Student,KE,1.00,mcq,NaN,A patient is receiving a transfusion of a unit...,...,Hematology,Yes,False,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9982,9982,26-40,Female,Nursing,Student,KE,0.01,consumer_queries,"Your female roommate complains of heartburn, a...",What should I do if the medication doesn't see...,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9990,9990,19-25,Male,NaN,NaN,NG,0.00,consumer_queries,"Your female roommate complains of depression, ...",Will counseling or psychotherapy help?Are ther...,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9992,9992,19-25,Male,Medicine,Consultant,NG,0.20,consumer_queries,"Your male coursemate complains of fever, chill...",What are the symptoms of malaria??Malaria is a...,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,9995,19-25,Female,NaN,NaN,PH,0.02,consumer_queries,Your female coursemate complains of depression...,"Based on my symptoms and personal preferences,...",...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,9996,19-25,Male,Pharmacy,Licensed Professional,NG,0.18,consumer_queries,"Your female coworker complains of rash, hives,...",Are there other related medications that could...,...,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

def preprocess(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation (optional: you might want to keep certain punctuation)
    text = ''.join([char for char in text if char.isalnum() or char.isspace()])
    return text

def remove_duplicates(questions, threshold=0.9):
    # Vectorize the questions
    vectorizer = TfidfVectorizer(stop_words='english', tokenizer=None, preprocessor=preprocess)
    tfidf_matrix = vectorizer.fit_transform(questions)
    
    # Calculate cosine similarity matrix
    cos_sim_matrix = cosine_similarity(tfidf_matrix)
    
    # Find indices of duplicates based on the threshold
    duplicates = set()
    for i in range(cos_sim_matrix.shape[0]):
        for j in range(i+1, cos_sim_matrix.shape[1]):
            if cos_sim_matrix[i, j] > threshold:
                duplicates.add(j)
    
    # Filter out duplicates
    filtered_indices = [i for i in range(len(questions)) if i not in duplicates]
    return questions.iloc[filtered_indices], duplicates

def main():
    # Load data from CSV
    file_path = 'path_to_your_file.csv'  # Update this path
    df = pd.read_csv(file_path)
    
    # Assuming the questions are under the column name 'Question'
    filtered_questions = remove_duplicates(df['Question'])
    
    # Save the filtered data
    df.iloc[filtered_questions.index].to_csv('filtered_questions.csv', index=False)
    print("Filtered questions saved to 'filtered_questions.csv'.")

# if __name__ == "__main__":
#     main()

In [50]:
filtered_questions, duplicates = remove_duplicates(data['question'])

# Save the filtered data
# df.iloc[filtered_questions.index].to_csv('filtered_questions.csv', index=False)
# print("Filtered questions saved to 'filtered_questions.csv'.")

In [52]:
filtered_questions

0       Which blood component is often transfused to p...
1       An 18-year-old female student is brought to JU...
2       A pregnant woman is scheduled for an emergency...
3       Inflammation of most or all of the Para nasal ...
4       The Ebola outbreak in 2014 has killed over 100...
                              ...
9994             What causes abdominal pain in hepatitis?
9995    Based on my symptoms and personal preferences,...
9996    Are there other related medications that could...
9997    Could this pain be indicative of an underlying...
9998    Can you assess my risk factors for osteoporosi...
Name: question, Length: 9593, dtype: object

In [51]:
duplicates

{815,
 956,
 1275,
 1286,
 1404,
 1530,
 1649,
 1669,
 1673,
 1735,
 1799,
 1833,
 1929,
 1961,
 2113,
 2119,
 2134,
 2209,
 2244,
 2247,
 2312,
 2348,
 2365,
 2377,
 2421,
 2458,
 2506,
 2532,
 2554,
 2610,
 2630,
 2638,
 2747,
 2763,
 2863,
 2872,
 2892,
 2906,
 2953,
 3008,
 3084,
 3127,
 3173,
 3199,
 3223,
 3260,
 3324,
 3420,
 3429,
 3510,
 3560,
 3561,
 3562,
 3582,
 3590,
 3624,
 3645,
 3705,
 3719,
 3722,
 3767,
 3774,
 3780,
 3797,
 3812,
 3821,
 3826,
 3880,
 3904,
 3918,
 3983,
 4022,
 4036,
 4075,
 4083,
 4087,
 4091,
 4105,
 4160,
 4167,
 4180,
 4181,
 4212,
 4219,
 4225,
 4232,
 4246,
 4252,
 4282,
 4305,
 4322,
 4330,
 4357,
 4375,
 4386,
 4414,
 4419,
 4422,
 4425,
 4485,
 4488,
 4493,
 4498,
 4703,
 4773,
 4875,
 4916,
 5031,
 5050,
 5069,
 5175,
 5195,
 5216,
 5300,
 5438,
 5450,
 5491,
 5509,
 5531,
 5550,
 5628,
 5641,
 5673,
 5687,
 5713,
 5735,
 5736,
 5812,
 5821,
 5825,
 5838,
 5857,
 5863,
 5874,
 5877,
 5923,
 5932,
 5958,
 5997,
 6024,
 6044,
 6049,
 6051,
 6081,
 6084,
 6112,
 6157,
 6163,
 6249,
 6262,
 6295,
 6298,
 6315,
 6334,
 6335,
 6339,
 6361,
 6429,
 6432,
 6457,
 6478,
 6496,
 6510,
 6557,
 6564,
 6611,
 6612,
 6618,
 6652,
 6653,
 6718,
 6749,
 6752,
 6762,
 6764,
 6776,
 6785,
 6789,
 6799,
 6814,
 6821,
 6866,
 6873,
 6890,
 6900,
 6916,
 6917,
 6928,
 6960,
 6980,
 7000,
 7017,
 7072,
 7098,
 7114,
 7137,
 7200,
 7202,
 7209,
 7213,
 7237,
 7260,
 7281,
 7282,
 7293,
 7305,
 7322,
 7360,
 7363,
 7398,
 7415,
 7450,
 7463,
 7464,
 7465,
 7498,
 7544,
 7551,
 7574,
 7585,
 7611,
 7617,
 7640,
 7641,
 7655,
 7666,
 7700,
 7795,
 7817,
 7838,
 7839,
 7840,
 7862,
 7888,
 7892,
 7896,
 7897,
 7899,
 7903,
 7924,
 7940,
 7960,
 7967,
 7979,
 7983,
 8006,
 8008,
 8017,
 8035,
 8044,
 8054,
 8060,
 8067,
 8076,
 8096,
 8108,
 8128,
 8133,
 8145,
 8151,
 8170,
 8206,
 8211,
 8212,
 8216,
 8266,
 8267,
 8280,
 8291,
 8293,
 8298,
 8333,
 8340,
 8352,
 8357,
 8361,
 8375,
 8376,
 8380,
 8385,
 8409,
 8413,
 8430,
 8441,
 8459,
 8462,
 8505,
 8522,
 8532,
 8533,
 8562,
 8565,
 8578,
 8599,
 8608,
 8612,
 8614,
 8619,
 8626,
 8632,
 8638,
 8643,
 8661,
 8670,
 8695,
 8712,
 8713,
 8717,
 8723,
 8728,
 8749,
 8751,
 8769,
 8770,
 8772,
 8774,
 8790,
 8805,
 8806,
 8817,
 8818,
 8826,
 8852,
 8858,
 8867,
 8877,
 8893,
 8896,
 8897,
 8957,
 8958,
 8970,
 8982,
 8987,
 8994,
 9076,
 9083,
 9101,
 9102,
 9129,
 9133,
 9140,
 9151,
 9168,
 9188,
 9190,
 9193,
 9196,
 9215,
 9246,
 9277,
 9289,
 9294,
 9320,
 9324,
 9352,
 9363,
 9381,
 9383,
 9386,
 9387,
 9401,
 9404,
 9406,
 9424,
 9425,
 9431,
 9453,
 9455,
 9467,
 9468,
 9478,
 9507,
 9532,
 9538,
 9564,
 9570,
 9580,
 9614,
 9621,
 9622,
 9645,
 9649,
 9692,
 9705,
 9714,
 9727,
 9745,
 9751,
 9768,
 9778,
 9791,
 9801,
 9808,
 9810,
 9827,
 9828,
 9834,
 9863,
 9878,
 9890,
 9911,
 9941,
 9961,
 9977,
 9978,
 9999}

In [133]:
data['prompt'] +  data['question']

0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
                              ...
9995    Your female coursemate complains of depression...
9996    Your female coworker complains of rash, hives,...
9997    Your female coworker complains of pain from fa...
9998    Your female flatmate complains of bone pain, f...
9999    Your male neighbor complains of discharge from...
Length: 10000, dtype: object

In [214]:
vectorizer = TfidfVectorizer(stop_words='english', tokenizer=None, preprocessor=preprocess)
question_data = data[data['question_type']=='saq'].reset_index(drop=True)
questions = (question_data['question']).apply(preprocess)
tfidf_matrix = vectorizer.fit_transform(questions)

In [215]:
questions

0       in what ways does the presentation of growth h...
1       question discuss the pathophysiology and clini...
2       in african patients what neurological disorder...
3       which parasitic infection endemic in parts of ...
4       the goal of respiration is to control the conc...
                              ...
1495    what is the most common cause of abnormal uter...
1496    what is the primary cause of chronic cough in ...
1497    what is the primary method used for diagnosing...
1498    what is the primary cause of acute respiratory...
1499    how does the local healthcare system address t...
Name: question, Length: 1500, dtype: object

In [216]:
cos_sim_matrix = cosine_similarity(tfidf_matrix)
cos_sim_matrix

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.02350039],
       [0.        , 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.10999245,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.10999245, 1.        ,
        0.        ],
       [0.02350039, 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [217]:
pd.DataFrame(cos_sim_matrix).iloc[:10, :10]

,0,1,2,3,4,5,6,7,8,9
0,1.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.037110,0.000000
1,0.00000,1.000000,0.000000,0.000000,0.0,0.000000,0.061908,0.0,0.000000,0.000000
2,0.00000,0.000000,1.000000,0.097250,0.0,0.120755,0.000000,0.0,0.000000,0.000000
3,0.00000,0.000000,0.097250,1.000000,0.0,0.307873,0.094883,0.0,0.029161,0.027291
4,0.00000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.000000
5,0.00000,0.000000,0.120755,0.307873,0.0,1.000000,0.094126,0.0,0.036209,0.033887
6,0.00000,0.061908,0.000000,0.094883,0.0,0.094126,1.000000,0.0,0.120868,0.000000
7,0.00000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.0,0.000000,0.000000
8,0.03711,0.000000,0.000000,0.029161,0.0,0.036209,0.120868,0.0,1.000000,0.036272
9,0.00000,0.000000,0.000000,0.027291,0.0,0.033887,0.000000,0.0,0.036272,1.000000

In [218]:
def identify_and_sort_duplicates(cos_sim_matrix, threshold=0.75):
    duplicates = []
    for i in range(cos_sim_matrix.shape[0]):
        for j in range(i+1, cos_sim_matrix.shape[1]):
            if cos_sim_matrix[i, j] > threshold:
                duplicates.append((i, j, cos_sim_matrix[i, j]))

    # Sort duplicates by decreasing similarity score
    duplicates_sorted = sorted(duplicates, key=lambda x: x[2], reverse=True)
    return duplicates_sorted

duplicates_sorted = identify_and_sort_duplicates(cos_sim_matrix)

In [219]:
duplicates_sorted[:20]

[(144, 1399, 1.0),
 (198, 985, 1.0),
 (163, 1316, 0.9831717393493312),
 (528, 1106, 0.9779186959399799),
 (111, 582, 0.969230927983413),
 (773, 1010, 0.9635506162151246),
 (503, 1327, 0.9635110436318768),
 (503, 996, 0.9530382842208738),
 (824, 1314, 0.949184868158986),
 (500, 1304, 0.9437322727457829),
 (1014, 1205, 0.940457383539798),
 (996, 1327, 0.9319686841956433),
 (133, 1325, 0.9283478731702026),
 (88, 1062, 0.9233578678388681),
 (645, 1365, 0.913594398982948),
 (497, 1003, 0.911562816485558),
 (88, 755, 0.9062594565961227),
 (741, 1125, 0.9030908589368764),
 (694, 757, 0.9010223060707319),
 (48, 1370, 0.8969177211313766)]

In [220]:
len(duplicates_sorted)

118

In [213]:
# Print sorted duplicates with similarity scores
for orig, dup, score in duplicates_sorted[:10]:
    print(f"Original Index: {orig}, Duplicate Index: {dup}, Score: {score:.4f}")
    print(f"Original: {questions[orig]}")
    print(f"Duplicate: {questions[dup]}\n")

Original Index: 103, Duplicate Index: 2034, Score: 1.0000
Original: which of the following is the firstline treatment for uncomplicated urinary tract infection uti in nonpregnant women
Duplicate: which of the following is a firstline treatment for uncomplicated urinary tract infection uti in nonpregnant women

Original Index: 38, Duplicate Index: 850, Score: 1.0000
Original: a 20year old female is 10 weeks pregnant she experiences vaginal bleeding and abdominal cramps what is the most likely cause of these symptoms
Duplicate: 20year old female is 10 weeks pregnant she experiences vaginal bleeding and abdominal cramps what is the most likely cause of these symptoms

Original Index: 520, Duplicate Index: 2711, Score: 1.0000
Original: 55 year old man has presented to his gp wondering if he could have his blood pressure checked he is found to have a blood pressure of 18099 on routine bloods his u
Duplicate: a 55 year old man has presented to his gp wondering if he could have his blood pressure checked he is found to have a blood pressure of 18099 on routine bloods his u

Original Index: 1301, Duplicate Index: 1393, Score: 0.9947
Original: a 52 year old woman complained of weight gain but no reduced appetite she is depressed and lost interest in most things her hair is dry and brittle and also complains of cold what is the likely laboratory feature
Duplicate:  a 52 year old woman complained of weight gain but no reduced appetite she is depressed lost interest in most things her hair is dry and brittle also she complains of cold  what is the laboratory feature

Original Index: 103, Duplicate Index: 706, Score: 0.9945
Original: which of the following is the firstline treatment for uncomplicated urinary tract infection uti in nonpregnant women
Duplicate: what is the firstline treatment for uncomplicated urinary tract infection uti in nonpregnant women


Original Index: 706, Duplicate Index: 2034, Score: 0.9945
Original: what is the firstline treatment for uncomplicated urinary tract infection uti in nonpregnant women

Duplicate: which of the following is a firstline treatment for uncomplicated urinary tract infection uti in nonpregnant women

Original Index: 130, Duplicate Index: 889, Score: 0.9926
Original: a 27 year old man presents to ae he is clearly uncomfortable and he gestures to his chest as if to suggest pain he has a history of imprisonment for the supply for opiates on examination he is visibly sweaty he has some painful nodules on his hands there are no dark streaks beneath the fingernails examination of the retina is completely unremarkable he has some bruising and track marks in his antecubital fossa his blood pressure is 10070 and his heart rate is 120 bpm his respiratory rate is 25minute and his oxygen saturations are 96 on room air he is currently slightly confused but manages to suggest that he passed some blood in his urine when he last visited the toilet his tympanic temperature is 383 degrees celsius his ecg shows the presence of normal p waves and narrow qrs complexes t waves are present and uninverted there is unconvincing evidence of st depression or elevation in any contiguous leads initial blood tests show the following hb 130 gl white cells 24 x109 l platelets 400 x109l crp 5 esr within normal limits what is the next most appropriate investigation
Duplicate: a 27 year old man presents to ae he is clearly uncomfortable and he gestures to his chest as if to suggest pain he has a history of imprisonment for the supply for opiates on examination he is visibly sweaty he has some painful nodules on his hands there are no dark streaks beneath the fingernails examination of the retina is completely unremarkable he has some bruising and track marks in his antecubital fossa his blood pressure is 10070 and his heart rate is 120 bpm his respiratory rate is 25minute and his oxygen saturations are 96 on room air he is currently slightly confused but manages to suggest that he passed some blood in his urine when he last visited the toilet his tympanic temperature is 383 degrees celsius his ecg shows the presence of normal p waves and narrow qrs complexes t waves are present and uninverted there is unconvincing evidence of st depression or elevation in any contiguous leads initial blood tests show the following hb 130 gl white cells 24 x109 l platelets 400 x109l crp 5 esr within normal limits what is the most likely diagnosis

Original Index: 402, Duplicate Index: 1305, Score: 0.9812
Original: a 45 year old patient had wrote traffic accident with transient loss of consciousness   which of the following will the patient also have on neurological history
Duplicate: a 45 year old patient had wrote traffic accident with transient loss of consciousness which of the following will the patient have on neurological examination

Original Index: 1601, Duplicate Index: 1994, Score: 0.9811
Original: which bacterial infection is commonly transmitted through contaminated food or water causing symptoms like diarrhea and abdominal cramps
Duplicate: which bacterial infection is commonly transmitted through contaminated food or water causing symptoms like diarrhea abdominal cramps and fever

Original Index: 1345, Duplicate Index: 1872, Score: 0.9744
Original: which condition is characterized by a deficiency of red blood cells or hemoglobin in the blood
Duplicate: which condition is characterized by a deficiency of red blood cells or hemoglobin

In [168]:
orig

756

In [172]:
question_data.iloc[orig]['sample_id']

'1ca527e0a7bbc6f5f5497da9ea90b26dbb4290f50af45349fc5af34628f6d96b'

In [173]:
question_data.iloc[dup]['sample_id']

'6d2e47e5039c70d2a21e480516b4e9afa7d1b8265bb769e049e6ac7c067eaba6'

In [175]:
data[data['sample_id']=='1ca527e0a7bbc6f5f5497da9ea90b26dbb4290f50af45349fc5af34628f6d96b']['question']

3756    How does the presentation of malaria differ in...
Name: question, dtype: object

In [174]:
data[data['sample_id']=='6d2e47e5039c70d2a21e480516b4e9afa7d1b8265bb769e049e6ac7c067eaba6']['question']

4181    How does the presentation of malaria differ in...
Name: question, dtype: object

In [157]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           10000 non-null  int64
 1   sample_id            10000 non-null  object
 2   split                10000 non-null  object
 3   age_group            9864 non-null   object
 4   gender               10000 non-null  object
 5   discipline           8764 non-null   object
 6   clinical_experience  8743 non-null   object
 7   country              10000 non-null  object
 8   question_type        10000 non-null  object
 9   prompt               5500 non-null   object
 10  question             10000 non-null  object
 11  answer_options       3000 non-null   object
 12  correct_answer       3000 non-null   object
 13  answer_rationale     4618 non-null   object
 14  question_source      4500 non-null   object
 15  specialty            3000 non-null   object
 16  region_specific      186 non-null    object
 17  neg_percent          10000 non-null  float64
 18  quality              1749 non-null   object
 19  rated_african        268 non-null    float64
 20  rated_correct        400 non-null    float64
 21  rated_omission       400 non-null    float64
 22  rated_hallucination  400 non-null    float64
 23  rated_reasonable     400 non-null    float64
 24  rated_harmful        400 non-null    float64
 25  rated_bias           400 non-null    float64
dtypes: float64(8), int64(1), object(17)
memory usage: 2.0+ MB

In [171]:
len(data['sample_id'].unique())

10000

In [121]:
question_data[['prompt', 'question', 'answer_rationale']]

     prompt                                           question
0       NaN  Which parasitic infection, transmitted through...
1       NaN  What characteristic of a smooth muscle cell di...
2       NaN  Who proposed that handwashing prevents spread ...
3       NaN  Clinical Scenario: A 55-year-old male presents...
4       NaN  What are effective strategies for preventing w...
...     ...                                                ...
1495    NaN  What is the primary cause of chronic obstructi...
1496    NaN  \r\n\r\nA patient presents to the clinic with ...
1497    NaN  What is the function of the prostate gland in ...
1498    NaN  A 28-year-old man is brought to the emergency ...
1499    NaN  Describe your treatment in an 18-year-old male...

[1500 rows x 2 columns]

In [124]:
question_data.iloc[53][['prompt', 'question', 'answer_rationale']].values

array([nan,
       'If all squares are rectangles, and this shape is a square, is this shape also a rectangle?',
       'Yes, if all squares are rectangles and this shape is a square, then it logically follows that this shape is also a rectangle.'],
      dtype=object)

In [ ]:
data[data['saq']]